.form-img-new-product {
    display: flex;
    justify-content: center;

}

.form-img-new-product .box {
    border: 1px solid #777;
    border-radius: 10px;
    width: 200px;
    min-height: 200px;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    text-align: center;

}

.label-form-add-product {
    font: 1em sans-serif;
    font-size: medium;
    font-weight: 600;
    padding: 10px 0 0;
}

