.cover-item {
    position: relative;
    width: 376px;
    height: auto;
    padding: 20px 10px;
    flex-direction: column;
    align-content: center;
    margin: 0 auto;
    display: block;
    padding: 20px 10px;
}

.comment-item {
    /* width: 100%;
    margin-right: 20px;
    padding-top: 40px;
    display: block; */
    /* position: absolute; */

    position: relative;
    width: 100%;
    padding-top: 40px;
}


.comment-item .avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.info .star-rating {
    margin-top: 10px;
    align-content: center;
}

.comment-item .info {
    background: white;
    border-radius: 16px;
    text-align: center;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 60px 15px 15px 15px;
}

.info .name {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}


.info .text-comment {
    display: -webkit-box;
    line-height: 1.4;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    text-align: justify;
    min-height: 5.6em;
}