.Img {
    width: 265px;
    height: 300px;
    padding: 5px;

}

.Img img {
    width: 255px;
    height: 255px;

}

.Product_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Product_item .Name_item {
    font-size: 18px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 800;
    max-height: 3.775rem;
    min-height: 3.775rem;


}

.describe_item {
    color: #666;
    font-size: 12px;
    font-weight: 600;
    max-height: 3.775rem;
    min-height: 3.775rem;
}

.Price_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 5px;
}

.Price_item h6 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #666;
    font-size: 13px;
    line-height: 1.2;
}

.Price_item h4 {
    color: #111;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
}


.order_item {
    padding: 5px 10px;
    color: #006a31;
    border: 1px solid #006a31;
    border-radius: 5px;
    align-items: center;
    display: inline-block;
    gap: 5px;
}

.order_item:hover {
    padding: 5px 10px;
    border: 1px solid #d50e15;
    background-color: #d50e15;
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
    display: inline-block;
    gap: 5px;
}

@media screen and (max-width: 1200px) {
    .Img {
        width: 250px;
        height: 300px;
        padding: 5px;

    }

    .Img img {
        width: 220;
        height: 220;
    }

    .Price_item {
        flex-direction: column;
        align-items: flex-start;
    }

    .Price_item h6,
    .Price_item h4 {
        text-align: left;
        margin: 0;
    }

    .order_item {
        margin-top: 10px;
    }

}

@media screen and (max-width: 1024px) {

    .item-grid {
        flex-direction: row;
    }

    .Img {
        width: 250px;
        height: 300px;
        padding: 5px;

    }

    .Img img {
        width: 220;
        height: 220;
    }

    .Price_item {
        flex-direction: column;
        align-items: flex-start;
    }

    .Price_item h6,
    .Price_item h4 {
        text-align: left;
        margin: 0;
    }

    .order_item {
        margin-top: 10px;
    }


}