.sfHJBJ {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.g9sxyL, .sfHJBJ {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

.BzP4cv {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,.54);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.uCImov {
    height: 600px;
    position: relative;
    width: 500px;
}
.uCImov {
    flex-direction: column;
    justify-content: center;
}
.EAsnVx, .bK0J3d, .uCImov {
    display: flex;
}

.EAsnVx {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 500;
    height: 56px;
    line-height: 1.5rem;
    padding: 16px 24px;
}

.EAsnVx, .bK0J3d, .uCImov {
    display: flex;
}
.EAsnVx, .bK0J3d {
    align-items: center;
}

.UvGnhr {
    padding-top: 0;
}

.Fnz5GY {
    flex: 1;
    overflow: scroll;
    padding: 24px 24px 88px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.stardust-spinner--hidden {
    display: none;
}

.fHrRlc {
    padding: 16px 0;
}

.ri9qH4 {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.ri9qH4 {
    display: flex;
}

.l5tAFe {
    padding: 0 4px 0 0;
}

.l5tAFe .stardust-radio {
    padding: 0;
}

.stardust-radio {
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    display: flex;
    font-family: -apple-system, Helvetica Neue, Helvetica, Roboto, Droid Sans, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 12px;
}

.stardust-radio-button {
    flex-shrink: 0;
    height: 18px;
    margin-right: 8px;
    position: relative;
    width: 18px;
}

.n4C_GM {
    min-width: 0;
    width: 100%;
}

.uSVjDc {
    margin-top: 4px;
}
.uSVjDc {
    flex-wrap: wrap;
}

.O7E6Vs, .ZYA1jJ, .g4fJe1, .kl5dTm {
    display: flex;
}

._77S2H:last-child {
    margin-right: 0;
}

.AK7PoC {
    border-color: #ee4d2d;
    color: #ee4d2d;
}
._77S2H {
    margin: 0 4px 4px 0;
}
.bBG6Vr {
    border: .5px solid;
    border-radius: 1px;
    padding: 2px 4px;
}

.nvJG8K {
    margin-right: 8px;
}

.ZYA1jJ {
    flex-grow: 1;
    overflow-x: hidden;
}

.v14nEg {
    color: rgba(0, 0, 0, .87);
    font-size: 1rem;
    line-height: 1.5rem;
}

._VjY75 {
    font-weight: 500;
    min-width: 0;
}
._VjY75 {
    display: inline-flex;
}

.uekMWo {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gmtfu3 {
    border-left: .5px solid rgba(0, 0, 0, .26);
    margin: 0 8px;
}

.RfNU9h, .b8Y9fT {
    font-size: .875rem;
    line-height: 1.25rem;
}

.RfNU9h {
    color: rgba(0, 0, 0, .54);
}
.byKxE2 {
    white-space: nowrap;
}

.kl5dTm {
    flex-basis: 40px;
}

.kl5dTm {
    justify-content: flex-end;
}


.fQQP_K {
    background: none;
    border: 0;
    color: #08f;
    outline: none;
    padding: 4px;
    white-space: nowrap;
}

.KecgYK {
    margin-bottom: 4px;
}

.O7E6Vs {
    justify-content: space-between;
}
.RE4_GN {
    font-size: .875rem;
    line-height: 1.25rem;
}
.RE4_GN, .l77saJ {
    color: rgba(0, 0, 0, .54);
}

._VjY75, .g4fJe1 {
    align-items: center;
}

.ri9qH4:last-child {
    border-bottom: 0;
}

.ZkWDWb {
    align-items: center;
    background: none;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    min-width: 140px;
    outline: none;
    padding: 10px;
}

.GTODXA, .rC99lu {
    background-color: #fff;
}

.uXNyKF {
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 1px rgba(0,0,0,.03);
    color: rgba(0, 0, 0, .65);
    font-size: 1rem;
    height: 40px;
    line-height: 1.5rem;
}

.EnPcL0 {
    height: 16px;
    width: 16px;
    fill: rgba(0, 0, 0, .54);
    margin-right: 8px;
}

.bK0J3d {
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, .09);
    bottom: 0;
    height: 64px;
    left: 0;
    padding: 0 24px;
    position: absolute;
    right: 0;
}

.bK0J3d {
    justify-content: flex-end;
}
.EAsnVx, .bK0J3d, .uCImov {
    display: flex;
}
.EAsnVx, .bK0J3d {
    align-items: center;
}

.tVVh4Q {
    background-color: #ee4d2d;
    color: #fff;
}

.w3Rqy3 {
    font-size: 1rem;
    height: 40px;
    line-height: 1.5rem;
}

.fMZPBu {
    margin-right: 8px;
}

.RnsSLo {
    padding-top: 4px;
}
.kl5dTm {
    flex-basis: 40px;
}
.kl5dTm {
    justify-content: flex-end;
}

.O7E6Vs, .ZYA1jJ, .g4fJe1, .kl5dTm {
    display: flex;
}

.g9sxyL {
    background-color: rgba(0, 0, 0, .4);
}
.g9sxyL, .sfHJBJ {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}



